<!-- Experiencia-->
<section id="Experiencia" class="container-fluid secciones">
    <h2 class="mb-3 d-inline-block">Experiencia</h2>
    <!-- Botón Agregar Experiencia -->
    <button class="boton-add" type="button" *ngIf="isLogged" routerLink="/addExperiencia">
        <i class="bi bi-plus-square fs-3 ms-5" routerLink="/nuevaexperiencia"></i>
    </button>

    <span class="line"></span>

    <!-- Línea de tiempo -->
    <div class="main-timeline ps-5 pe-5">
        <div class="timeline" *ngFor="let Experiencia of experiencia">
            <span class="icon"><img class="logo" [src]="Experiencia.urllogocomp" alt="Logo de la empresa" /></span>
            <div class="timeline-content">
                <div class="content-inner">
                    <span class="year"> <time>{{Experiencia.fechainicio}}</time>&nbsp; - &nbsp;<time>{{Experiencia.fechafin}}</time> </span>
                    <h3 class="title d-inline-block"> {{Experiencia.puesto}} </h3>
                    <!-- Botón edición Experiencia -->
                    <button class="boton-edit ps-lg-2 pe-lg-2" type="button" *ngIf="isLogged"
                        routerLink="/editExperiencia/{{Experiencia.id}}">
                        <i class="bi bi-pencil-square fs-5"></i>
                    </button>
                    <!-- Botón eliminar Experiencia -->
                    <button class="boton-delete ps-lg-2 pe-lg-2" type="button" *ngIf="isLogged"
                        (click)="deleteExperiencia(Experiencia.id)">
                        <i class="bi bi-x-square fs-5"></i>
                    </button>
                    <h4>{{Experiencia.compania}}</h4>
                    <p class="description">
                        {{Experiencia.descripciontrabajo}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>