<!-- Acerca de -->
<section id="Acerca-de" class="container-fluid secciones acercaDe">
    <div class="row m-0 p-0">
        <!-- Columna Acerca de -->
        <div class="col-6 info-el ad" *ngIf="persona">
            <h2 class="mb-3 d-inline-block titulo-info">Acerca de</h2>
            <!-- Botón edición Acerca de -->
            <button class="boton-edit" type="button" *ngIf="isLogged" (click)="editAcercade()">
                <i class="bi bi-pencil-square fs-4  ms-lg-3"></i>
            </button>
            <span class="line"></span>
            <h3> {{persona.nombre}} {{persona.apellido}} </h3>
            <h4> {{persona.ocupacion}} </h4>
            <p> {{persona.acercade}} </p>
        </div>
        <!-- Columna Información personal -->
        <div class="col-6 info-el">
            <h2 class="mb-3 d-inline-block titulo-info">Información personal</h2>
            <!-- Botón edición Información personal -->
            <button class="boton-edit" type="button" *ngIf="isLogged" (click)="editInfopersonal()">
                <i class="bi bi-pencil-square fs-4 ms-lg-3"></i>
            </button>
            <span class="line"></span>
            <ul class="list-unstyled" *ngIf="persona">
                <li class="mb-3">
                    <span class="list-title">
                        Fecha de nacimiento:
                    </span>
                    <span>
                        {{persona.fechanac}}
                    </span>
                </li>
                <li class="mb-3">
                    <span class="list-title">
                        Email:
                    </span>
                    <span>
                        {{persona.email}}
                    </span>
                </li>
                <li class="mb-3">
                    <span class="list-title">
                        Celular:
                    </span>
                    <span>
                        {{persona.celular}}
                    </span>
                </li>
                <li>
                    <span class="list-title">
                        País de residencia:
                    </span>
                    <span>
                        {{persona.paisresidencia}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>