<!-- Formulario edición Acerca de -->
<div class="container-fluid imgfondo">
    <div class="container fondo shadow">
        <form (ngSubmit)="onUpdateAcercade()" novalidate #f="ngForm" class="p-4">
            <div class="d-grid d-flex justify-content-end">
                <button type="button" class="btn-close fs-5 me-md-2" aria-label="Close" routerLink="/"></button>
            </div>
            <h3>Datos Acerca De</h3>
            <p style="margin-bottom: 24px; color: gray;" class="text-center">Completa los campos que deseas modificar.
            </p>
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control p-2" id="nombre" name="nombre" 
                        [(ngModel)]="persona.nombre" required aria-describedby="nombreformat">
                    <div id="nombreformat" class="form-text">Max. 10 caracteres</div>
                </div>
                <div class="col-6 mb-3">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control p-2" id="apellido" name="apellido"
                        [(ngModel)]="persona.apellido" required aria-describedby="apellidoformat">
                    <div id="apellidoformat" class="form-text">Max. 10 caracteres</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="ocupacion" class="form-label">Ocupación</label>
                <input type="text" class="form-control p-2" id="ocupacion" name="ocupacion"
                    [(ngModel)]="persona.ocupacion" required>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea type="text" class="form-control p-2" rows="3" id="descripcion" name="descripcion"
                    [(ngModel)]="persona.acercade" required aria-describedby="descripcionformat"></textarea>
                <div id="descripcionformat" class="form-text">Max. 300 caracteres</div>
            </div>
            <button type="submit" class="btn save d-block ms-auto mb-3">Guardar</button>
        </form>
    </div>
</div>